* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    margin: 2rem;
    grid-template-columns: 1fr 1fr;
}

.grid div:nth-child(even) {
    background-color: red;
}

.grid div:nth-child(odd) {
    background-color: green;
}

.grid .restaurant .row .col-md-6 .card .card-body .food img {
    width: 311px;
    height: 341px;
}

.grid .conference-hall .row .col-md-6 .card .card-body .hall img {
    width: 311px;
    height: 341px;
}

.grid .sports-ground .row .col-md-6 .card .card-body .sports img {
    width: 311px;
    height: 341px;
}

.grid .swimming-pool .row .col-md-6 .card .card-body .pool img {
    width: 311px;
    height: 341px;
}

.grid .spa .row .col-md-6 .card .card-body .spa-place img {
    width: 311px;
    height: 341px;
}

.grid .gym .row .col-md-6 .card .card-body .gymm img {
    width: 311px;
    height: 341px;
}